.CommonTable {
}

.CommonTable-container {
  padding-left: 35px;
}

.CommonTable-item {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  border-top: 1px solid #eee;
}

.CommonTable-item:first-child {
  border: none;
}

.CommonTable-headers {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.CommonTable-header {
  flex: 1;
}

.CommonTable-header_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2em;
  font-weight: bold;
  display: block;
  color: #555;
}

.CommonTable-header:last-child .CommonTable-header_title {
  text-align: right;
}

.CommonTable-header_filter {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid #eee;
  transition: border-color 200ms;
}

.CommonTable-header_filter:focus {
  border-color: rgb(212, 0, 255);
}

.CommonTable-item_field {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
  white-space: nowrap;
  color: #555;
  /* display: inline-block; */
}

.CommonTable-item_field:last-child {
  text-align: right;
}

.CommonTable-new_item {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-top: 10px;
}

.CommonTable-new_item_field {
  flex: 1;
}

.CommonTable-new_item_field_input {
  border: 1px solid #eee;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 1.6em;
}

.CommonTable-delete {
  position: absolute;
  left: -35px;
  top: 4px;
  border: none;
  color: #ddd;
  border-radius: 50%;
  width: 25px;
  cursor: pointer;
  height: 25px;
  outline: none;
  background: none;
  box-shadow: inset 0 0 1px #ccc;
  transition: background 200ms;
}

.CommonTable-delete:hover {
  background: #f4f4f4;
  box-shadow: none;
}

.CommonTable-delete_icon {
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 1em;
  transform: translate(-.5em, -.5em);
}

.CommonTable-new_item_add {
  position: absolute;
  left: -35px;
  top: 0;
  border: none;
  color: #ddd;
  border-radius: 50%;
  width: 25px;
  cursor: pointer;
  height: 25px;
  outline: none;
  background: none;
  box-shadow: inset 0 0 1px #ccc;
  transition: background 200ms;
}

.CommonTable-new_item_add_icon {
  font-size: 1.5em;
  position: absolute;
  line-height: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-.5em, -.5em);
}

.CommonTable-new_item_add:hover {
  background: rgb(212, 0, 255);
  color: #fff;
  box-shadow: none;
}