.CommonTable {
}

.CommonTable-container {
  padding-left: 35px;
}

.CommonTable-item {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.CommonTable-panel {
  overflow: hidden;
}

.CommonTable-features_count {
  float: left;
}

.CommonTable-pagination {
  float: right;
}

.CommonTable-pagination_btn {
  background: none;
  height: 25px;
  width: 25px;
  border: none;
  color: #bbb;
  border-radius: 50%;
  margin-left: 5px;
  box-shadow: inset 0 0 0 1px #bbb; 
  transition: all 200ms;
  outline: none;
  cursor: pointer;
}

.CommonTable-pagination_btn:hover,
.CommonTable-pagination_btn--active {
  background: rgb(212, 0, 255);
  box-shadow: inset 0 0 0 1px rgb(212, 0, 255); 
  color: #fff;
}

.CommonTable-headers {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.CommonTable-header {
  flex: 1;
}

.CommonTable-header_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2em;
  font-weight: bold;
  display: block;
  color: #555;
}

.CommonTable-header:last-child .CommonTable-header_title {
  text-align: right;
}

.CommonTable-header_filter {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid #eee;
  transition: border-color 200ms;
}

.CommonTable-header_filter:focus {
  border-color: rgb(212, 0, 255);
}

.CommonTable-item_field {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
  white-space: nowrap;
  color: #555;
  /* display: inline-block; */
}

.CommonTable-item_field:last-child {
  text-align: right;
}

.CommonTable-new_item {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-top: 10px;
}

.CommonTable-new_item_field {
  flex: 1;
}

.CommonTable-new_item_field_input {
  border: 1px solid #ddd;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  line-height: 1.6em;
}

.CommonTable-delete {
  position: absolute;
  left: -35px;
  top: 4px;
  border: none;
  color: #aaa;
  border-radius: 50%;
  width: 25px;
  cursor: pointer;
  height: 25px;
  outline: none;
  background: none;
  transition: background 200ms;
}

.CommonTable-delete:hover {
  background: #eee;
  box-shadow: none;
}

.CommonTable-delete_icon {
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 1em;
  transform: translate(-.5em, -.5em);
}

.CommonTable-new_item_add {
  position: absolute;
  left: -35px;
  top: 0;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  cursor: pointer;
  height: 25px;
  outline: none;
  transition: all 200ms;
  background: rgb(212, 0, 255);
}

.CommonTable-new_item_add_icon {
  font-size: 1.5em;
  position: absolute;
  line-height: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-.5em, -.5em);
}

.CommonTable-new_item_add:hover {
  opacity: .5;
}

.CommonTable-new_item_field_select {
  border: 1px solid #ddd;
  background: none;
  width: 100%;
  outline: none;
  height: 24.5px;
  box-sizing: border-box;
}

.CommonTable-panel {
  padding: 15px 0 10px 0;
}